{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}

<div class="container d-flex align-items-center justify-content-center min-vh-100" style="margin-top: 50px;">
  <div class="col-md-6 col-sm-8 col-xs-10"> <!-- Adjusted column sizing for smaller overall form width -->
    <div class="card shadow-lg p-3" style="max-width: 400px; margin: auto; background-color: rgba(255, 255, 255, 0.357);">
      <div class="card-body">
        <h2 class="text-center title text-dark">
          Add Jersey
        </h2>
        <form method="POST" class="w-100">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }} 
            {% if field.errors %}
              <div class="invalid-feedback">
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </div>
          {% endfor %}
          <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-block large-btn">Add Jersey</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  body {
    background-image: url("{% static 'image/ronaldo.jpeg' %}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #eae5e0;
    font-family: 'Urbanist', sans-serif;
  }

  .min-vh-100 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #eae5e0;
    max-width: 400px; 
    padding: 15px; 
  }

  .title {
    font-size: 1rem; 
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Urbanist', sans-serif;
  }

  .form-label{
    font-size: 0.9rem;
  }

  .form-group {
    width: 100%;
    display: flex;
    flex-direction: column; 
    margin-bottom: 10px; 
  }

  .form-control {
    border-radius: 5px;
    padding: 8px; 
    font-size: 0.9rem; 
    font-family: 'Urbanist', sans-serif;
  }

  .btn {
    width: 100%;
    padding: 8px; 
    border-radius: 5px;
    font-size: 0.9rem; 
    font-weight: bold;
    background-color: #8b1a1a;
    color: white;
    border: none;
    font-family: 'Urbanist', sans-serif;
  }

  .btn:hover {
    background-color: rgb(82, 12, 12);
  }

  .btn-block {
    display: block;
    width: 100%;
  }

  @media (max-width: 768px) {
    .card {
      max-width: 350px; /* Even smaller max width for smaller screens */
    }
  }

  @media (max-width: 576px) {
    .card {
      max-width: 300px; /* Even smaller max width for very small screens */
    }
  }
</style>

{% endblock content %}
