{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="login">
  <h3>Login</h3>

  <form method="POST" action="">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
      <tr>
        <td></td>
        <td><input class="login_btn" type="submit" value="Login" /></td>
      </tr>
    </table>
  </form>

  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} Don't have an account yet?
  <a href="{% url 'main:register' %}">Register Now</a>
</div>
<style>
    .login {
        margin: 150px auto;
        width: 25%;
        padding: 10px;
        border: 1px solid;
        border-radius: 5px;
        background-color: white;
    }
    
    .login h3 {
        text-align: center;
        padding: 10px;
    }
    
    .login_btn {
        width: 100%;
        padding: 10px;
        border: 1px solid;
        border-radius: 5px;
        background-color: white;
        color: black;
    }

    .login_btn:hover {
        background-color: teal;
        color: white;
    }

    .navbar{
    background-color: teal;
    }

    .navbar-brand{
        color: tan;
    }

    .btn{
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: black;
    background-color: tan;
  }

  .btn:hover{
    background-color: black;
    color: white;
  }
</style>

{% endblock content %}