{% extends 'base.html' %}

{% block content %}

<h1>Catalogue</h1>

<div class="row">
    {% for jersey in jersey %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ jersey.image }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ jersey.name }} </h5>
              <p class="card-text">Description : <br> {{ jersey.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price : ${{ jersey.price }}</li>
              <li class="list-group-item">Stock : {{ jersey.quantity }} Items</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Purchase</a>
              <a href="#" class="card-link">Add to Cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}