{% extends 'base.html' %}

{% block content %}

<h1>Catalogue</h1>

<div class="row">
    {% for jersey in jersey %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ jersey.image }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ jersey.name }} </h5>
              <p class="card-text">Description : <br> {{ jersey.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price : ${{ jersey.price }}</li>
              <li class="list-group-item">Stock : {{ jersey.quantity }} Items</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Purchase</a>
              <a href="#" class="card-link">Add to Cart</a>
            </div>
        </div>
    </div>
    {% endfor %}

{% if not jersey %}
<p>Gagal menambahkan jersey.</p>
{% else %}
<table>
  <tr>
    <!-- <th>Add Items</th> -->
    <!-- <th>Price</th>
    <th>Description</th>
    <th>Image</th>
    <th>Quantity</th> -->
  </tr>

  <!-- {% comment %} Berikut cara memperlihatkan data jersey di bawah baris ini 
  {% endcomment %} 
  {% for baju in jersey %}
  <tr>
    <td>{{baju.name}}</td>
    <td>{{baju.price}}</td>
    <td>{{baju.description}}</td>
    <td>{{baju.image}}</td>
    <td>{{baju.quantity}}</td>
  </tr>
  {% endfor %} -->
</table>
{% endif %}

<br />

<a href="{% url 'main:add_jersey' %}">
  <button>Add Jersey</button>
</a>
{% endblock content %}