{% extends 'base.html' %}

{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}

<div class="register">
  <h3>Register</h3>

  <form method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
      <tr>
        <td></td>
        <td ><input class="register_btn" type="submit" name="submit" value="Daftar" /></td>
      </tr>
    </table>
  </form>

  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<style>
    .register {
        margin: 150px auto;
        width: 50%;
        padding: 10px;
        border: 1px solid;
        border-radius: 5px;
        background-color: white;
    }
    
    .register h3 {
        text-align: center;
        padding: 10px;
        
    }
    
    .register_btn {
        width: 50%;
        padding: 10px;
        border: 1px solid;
        border-radius: 5px;
        background-color: white;
        color: black;
    }

    .register_btn:hover {
        background-color: teal;
        color: white;
    }

    .navbar{
        background-color: teal;
    }

    .navbar-brand{
        color: tan;
    }

    .btn{
        border: 1px solid black;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        color: black;
        background-color: tan;
  }

    .btn:hover{
        background-color: black;
        color: white;
    }
</style>

{% endblock content %}